@page
@model DigitalServiceCenter.Pages.RegistrationModel
@{
}
<form id="myForm" class="login col-md-6" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <h2>Sign Up</h2>
    <div class="form-group">
        @*<label class="col-form-label" asp-for="user.Email"></label>*@
        <input class="form-control" type="text" name="CompaneyName" placeholder="*Companey Name"/> @*asp-for="admin.Email" />*@
        <span class="text-danger"></span> @*asp-validation-for="admin.Email"*@
    </div>
    <div class="form-group">
        @*<label class="col-form-label" asp-for="user.Email"></label>*@
        <input class="form-control" type="email" name="email" placeholder="*Email address"/> @*asp-for="admin.Email" />*@
        <span class="text-danger"></span> @*asp-validation-for="admin.Email"*@
    </div>
    <div class="form-group">
        @*<label class="col-form-label" asp-for="user.Password"></label>*@
        <input class="form-control col-md-6" type="password" name="password" placeholder="*Create Password"/>@*asp-for="admin.Password" />*@
        <span class="text-danger"></span> @*asp-validation-for="admin.Password"*@
    </div>
    
    <button id="saveBtn" type="submit">Sign up</button>
    <a href="/login">Already registerd ? Login</a>
</form>